<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Offers Finder Map</title>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.1.min.js"></script>
    </head>
    <body>
        <div id="map" style="width: 800px; height: 600px;"></div>
        <script type="text/javascript">
            var locations = [
              {{range $offer := .Offers}}
              ["", {{$offer.Lat}}, {{$offer.Long}}, {{$offer.Id}}],
              {{end}}
            ];
            
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              center: new google.maps.LatLng(52.51,13.37),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            
            var infowindow = new google.maps.InfoWindow();
            var marker, i;
            var markers = new Array();
            
            for (i = 0; i < locations.length; i++) {  
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
              });
            
              markers.push(marker);
            
              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  infowindow.setContent(locations[i][0]);
                  infowindow.open(map, marker);
                }
              })(marker, i));
            }
            
            function AutoCenter() {
              //  Create a new viewpoint bound
              var bounds = new google.maps.LatLngBounds();

              //  Go through each...
              $.each(markers, function (index, marker) {
              bounds.extend(marker.position);
              });

              //  Fit these bounds to the map
              map.fitBounds(bounds);
            }
            
            AutoCenter();
            
        </script>
    </body>
</html>